* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lobster;
  /*background-color: #575757;*/
  background-image: url(Imagenes/Fondo\ amor.jpg);
}

h1 {
  position: absolute;
  top: 20px;
  height: 50px;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 30px;
  z-index: 9999;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
  margin-left: 70px;
}

h2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
  font-size: 50px;
}

h3 {
  position: absolute;
  top: 20px;
  right: 1px;
  height: 50px;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 30px;
  z-index: 9999;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
  margin-right: -10px;
}

p {
  margin: 0 auto;
  padding: 30px;
  text-align: justify;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.451);
}

/* Book */
.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: #fd9beb;
  /* Paleta de colores: reemplazar con el color deseado */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
  border: 4px outset rgb(146, 146, 146);
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid hsl(0, 0%, 36%);
  /* Paleta de colores: reemplazar con el color deseado */
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #f8c0f2;
  /* Paleta de colores: reemplazar con el color deseado */
}

i {
  font-size: 50px;
  color: #ffffff;
  /* Paleta de colores: reemplazar con el color deseado */
}

#img-container {
  top: 25px;
  left: 18px;
}

#f1 {
  color: #ffffff;
}

#f2 p{
  margin-top: 55px;
  margin-bottom: 25px;
}

#f2 img{
  width: 250px;
  height: auto;
  padding: 10px;
  border: 2px outset rgb(207, 159, 203);
  margin: 10px;
}

#f2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#b1 img {
  width: 100px;
  height: auto;
  padding: 10px;
  border: 2px outset rgb(207, 159, 203);
  margin: 10px;
  display: flex;
  justify-content: center;
}

#b2 img {
  width: 90px;
  height: auto;
  padding: 10px;
  border: 2px outset rgb(207, 159, 203);
  margin: 10px;
  flex: content;
}

/* Paper stack order */
#p1 {
  z-index: 10;
}

#p2 {
  z-index: 9;
}

#p3 {
  z-index: 8;
}

#p4 {
  z-index: 7;
}

#p5 {
  z-index: 6;
}

#p6 {
  z-index: 5;
}

#p7 {
  z-index: 4;
}

#p8 {
  z-index: 3;
}

#p9 {
  z-index: 2;
}

#p10 {
  z-index: 1;
}